/*My custom styles*/
/*Amy Cornish- April 15, 2022*/

.bold {
    font-weight: bold;
    color: indianred;
}

.italic {
    font-style: italic;
    font-stretch: semi-expanded;
}

.right {
    text-align: right;
}

.underline {
    text-decoration: underline;
}

body {
    background-image: url(../assets/img/Oceanside .JPEG)
}

.aboutphoto {
    max-height: 100px;
}

.about-img2 {
    width: 80px;
    max-height: 40px;
    position: inherit;
}

.about-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
}

.contactinformation {
    padding: 60px;
    text-align: center;
    font-weight: bold;
}